.container{
    background-color: rgb(143, 173, 190);
    width: 35%;
    padding: 1em;
    border-radius: 3em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.closeButton{
    border: 0px;
    background-color: brown;
    width: fit-content;
    height:  fit-content;
    border-radius: 15px;
}